.container{
	width: 1170px;
	margin: 0 auto;
}

@media (min-width: 768px){
	.container{
		width: 750px;
	}
}

@media (min-width: 992px){
	.container{
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container{
		width: 1170px;
	}
}

.card {
	background: #ffffff;
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	
	/* X Y Blur Cor */
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15); 
	
	/*tempo em segundos, efeito*/
	transition: 0.2s ease-in;
	
	/*Boa prática, para carregamento individual*/
	will-change: box-shadow, transform;

	animation: show 0.2s ease-in;
	
}

